@charset "UTF-8";
@import "normalize";
@import "ubuntu";

$base-spacing-unit: 30px;

$background-color: #dedede;
$foreground-color: #444;
$bright-ui-color: #fff;

$base-color: #444;
$base-color-light: #aaa;
$base-color-dark: darken($base-color, 7%);

$green-color: #5a9b00;
$green-color-light: lighten($green-color, 7%);

$blue-color: #507bd3;
$blue-color-light: lighten($blue-color, 7%);

$orange-color: #eb9800;
$orange-color-light: lighten($orange-color, 7%);

$red-color: #db2427;
$red-color-light: lighten($red-color, 7%);






/*------------------------------------*\
    BASE
\*------------------------------------*/

/**
 * Nice box model for everything
 */
*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/**
 * Reset initial margins/paddings
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
table, th, td, caption,
hr {
    margin: 0;
    padding: 0;
}

/**
 * Give form elements some cursor interactions...
 */
label,
input,
textarea,
button,
select,
option {
    cursor: pointer;
}

input:active,
input:focus,
textarea:active,
textarea:focus {
    cursor: text;
    outline: none;
}

button:active,
button:focus {
    outline: none;
}

/**
 * Micro clearfix, as per: css-101.org/articles/clearfix/latest-new-clearfix-so-far.php
 */
.cf:after,
%cf:after {
    content: "";
    display: table;
    clear: both;
}

/**
 * Vertical rhythm for text content
 */
h1, h2, h3, h4, h5, h6,
ul, ol, dl,
blockquote, p, address,
table,
fieldset, figure,
pre,
%vertical-rhythm {
    margin-bottom: $base-spacing-unit;
    margin-bottom: 1.5rem;
}

ul, ol, dd {
    margin-left: $base-spacing-unit;
    margin-left: 1.5rem;
}

/**
 * Base styles
 */
html {
    overflow-y: scroll;
    font: 1.25em/1.5 Ubuntu, sans-serif;
    color: $foreground-color;
    background-color: $background-color;
    font-weight: 300;
}

dt, strong, .bold {
    font-weight: 500;
}

.nowrap {
    white-space: nowrap;
}

/**
 * Headings
 */

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

h1, %h1 {
    font-size: 36px;
    font-size: 1.8rem;
    line-height: 1.66667;
}

h2, %h2 {
    font-size: $base-spacing-unit;
    font-size: 1.5rem;
    line-height: 1;
}

h3, %h3 {
    font-size: 24px;
    font-size: 1.2rem;
    line-height: 1.25;
}

h4, %h4 {
    font-size: 20px;
    font-size: 1rem;
    line-height: 1.5;
}

h5, %h5 {
    font-size: 16px;
    font-size: 0.8rem;
    line-height: 1.875;
}

h6, %h6 {
    font-size: 14px;
    font-size: 0.7rem;
    line-height: 2.14286;
}

/**
 * Responsive images.
 */
img {
    max-width: 100%;
    vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
    display: block;
}

/**
 * Image placement variations.
 */
.img--right {
    float: right;
    margin-bottom: $base-spacing-unit;
    margin-left: $base-spacing-unit;
}

.img--left {
    float: left;
    margin-right: $base-spacing-unit;
    margin-bottom: $base-spacing-unit;
}

.img--center {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: $base-spacing-unit;
}

/**
 * Nested lists
 */
li > ul,
li > ol {
    margin-bottom: 0;
}

/**
 * Anchors
 */
a {
    color: $foreground-color;
    text-decoration: none;
}

/**
 * Code
 */
pre, code,
kbd, samp {
    font-family: Inconsolata, Monaco, Consolas, "Courier New", Courier, monospace;
    font-size: 16px;
    font-size: 0.8rem;
    line-height: 1.875;
}

code, kbd {
    white-space: nowrap;
    padding: 2px 5px;
    margin: 0 2px;
    border: 1px solid $base-color-light;
    border-radius: 3px;
    font-size: 15px;
    font-size: 0.75rem;

    .page--home & {
        color: $green-color;
    }
}

pre {
    overflow: auto;
    white-space: pre;
    word-wrap: normal;
    color: $bright-ui-color;
    background-color: $base-color;
    padding: $base-spacing-unit / 4 $base-spacing-unit / 2;
    border-radius: 2px;
}





/*------------------------------------*\
    $LOGO
\*------------------------------------*/
.site-logo {
    display: inline-block;
    padding: $base-spacing-unit / 2;

    @media only screen and (min-width: 641px) {
        margin-left: $base-spacing-unit * 2;
    }
}

    .site-logo > img {
        width: 264px;
        height: 64px;
        background-image: url(../img/kleinfreund.png); /* Fallback for <IE9 */ 
        background-image: url(../img/kleinfreund.svg), none;
        -webkit-background-size: 264px 64px;
           -moz-background-size: 264px 64px;
            -ms-background-size: 264px 64px;
             -o-background-size: 264px 64px;
                background-size: 264px 64px;
    }





/*------------------------------------*\
    $NAV
\*------------------------------------*/
.site-nav {
    line-height: 1;

    display:  -ms-flexbox; /* MID - IE 10 */
    display: -webkit-flex; /* NEW -  Chrome */
    display:         flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */

    @media only screen and (min-width: 641px) {
        display: block; /* Override `display: flex;` */
        margin-right: 10%;
        text-align: right;
    }
}

    .site-nav__item {
        display: block;
        padding: $base-spacing-unit / 4 0;
        text-align: center;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);

            -webkit-flex: 1; /* Chrome */
                -ms-flex: 1; /* IE 10 */
                    flex: 1; /* NEW, Spec - Opera 12.1, Firefox 20+ */

        @media only screen and (min-width: 641px) {
            display: inline-block;
            padding: $base-spacing-unit / 2 3%;
            font-weight: 500;

            &:not(:first-child) {
                margin-left: $base-spacing-unit / 2;
            }
        }
    }

    .site-nav__item--green {
        background-color: $green-color;

        @media only screen and (min-width: 641px) {
            html:not(.page--home) &:hover {
                background-color: $green-color-light;
            }
        }
    }

    .site-nav__item--blue {
        background-color: $blue-color;

        @media only screen and (min-width: 641px) {
            html:not(.page--about) &:hover {
                background-color: $blue-color-light;
            }
        }
    }

    .site-nav__item--orange {
        background-color: $orange-color;

        @media only screen and (min-width: 641px) {
            html:not(.page--portfolio) &:hover {
                background-color: $orange-color-light;
            }
        }
    }

    .site-nav__item--red {
        background-color: $red-color;

        @media only screen and (min-width: 641px) {
            html:not(.page--impressum) &:hover {
                background-color: $red-color-light;
            }
        }
    }

    .page--home [href="/"],
    .page--portfolio [href="/portfolio"],
    .page--profil [href="/profil"],
    .page--impressum [href="/impressum"] {
        cursor: default;
    }







/*------------------------------------*\
        site-head / site-foot
\*------------------------------------*/
.site-head {
    border-bottom: 7px solid $base-color-dark;
}

.site-foot {
    font-size: 16px;
    font-size: 0.8rem;
    line-height: 1.875;
    padding: $base-spacing-unit / 2 $base-spacing-unit;
    border-top: 7px solid $base-color-dark;

    a {
        text-decoration: underline;
    }

    p:last-of-type {
        margin-bottom: 0;
    }
}

.site-head,
.site-foot {
    background-color: $base-color;

    &,
    a {
        color: $bright-ui-color;
    }

    .page--home & {
        border-color: $green-color;
    }

    .page--about & {
        border-color: $blue-color;
    }

    .page--portfolio & {
        border-color: $orange-color;
    }

    .page--impressum & {
        border-color: $red-color;
    }
}





/*------------------------------------*\
        page-head
\*------------------------------------*/
.page-title {
    color: $bright-ui-color;
    background-color: $base-color-dark;
    margin-bottom: 0;
    padding: $base-spacing-unit / 2;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    @extend %h2;
    @extend %gap;

    @media only screen and (min-width: 641px) {
        padding: $base-spacing-unit / 2 10%;
    }

    .page--home & {
        background-color: $green-color-light;
    }

    .page--about & {
        background-color: $blue-color-light;
    }

    .page--portfolio & {
        background-color: $orange-color-light;
    }

    .page--impressum & {
        background-color: $red-color-light;
    }
}

.entry {
    @extend %gap;

    a {
        font-weight: 500;

        &:hover {
            border-bottom: 0.125em solid;
        }

        .page--home & {
            color: $green-color;
        }

        .page--about & {
            color: $blue-color;
        }

        .page--portfolio & {
            color: $orange-color;
        }

        .page--impressum & {
            color: $red-color;
        }
    }
}

    .entry__meta {
        color: $base-color-light;
        margin-bottom: 0;
    }

    .entry__heading {
        .page--home & {
            color: $green-color;
        }

        .page--about & {
            color: $blue-color;
        }

        .page--portfolio & {
            color: $orange-color;
        }

        .page--impressum & {
            color: $red-color;
        }
    }





/*------------------------------------*\
        misc
\*------------------------------------*/
.wrapper {
    max-width: 680px;
    margin-right: auto;
    margin-left: auto;
    padding-right: $base-spacing-unit / 2;
    padding-left: $base-spacing-unit / 2;

    @media only screen and (min-width: 641px) {
        padding-right: $base-spacing-unit;
        padding-left: $base-spacing-unit;
    }
}

%gap {
    margin-bottom: $base-spacing-unit * 2;
    margin-bottom: 3rem;

    @media only screen and (min-width: 641px) {
        margin-bottom: $base-spacing-unit * 4;
        margin-bottom: 6rem;
    }
}

.photoset {
    margin-left: -$base-spacing-unit;
}

    .photoset__item {
        margin-left: $base-spacing-unit;
        @extend %vertical-rhythm;
    }

.grid-wrapper {
    max-width: 1260px;
    margin-right: auto;
    margin-left: auto;
    padding-right: $base-spacing-unit / 2;
    padding-left: $base-spacing-unit / 2;
    @extend %gap;
}

.grid {
    margin-left: -$base-spacing-unit / 2;
}

    .grid__item {
        display: inline-block;
        width: 100%;
        padding-bottom: $base-spacing-unit / 2;
        padding-left: $base-spacing-unit / 2;
        vertical-align: top;

        @media only screen and (min-width: 430px) {
            width: 50%;
        }

        @media only screen and (min-width: 845px) {
            width: 33.333%;
        }
    }

    .grid__link {
        color: $base-color-dark;
        font-weight: 300;
    }

    .grid__caption {
        padding: $base-spacing-unit / 2;
        background-color: $orange-color-light;
        border-radius: 0 0 3px 3px;
    }