$base-font-size:    16px!default;
$base-line-height:  24px!default;
$base-font-family:  sans-serif!default;
$base-ui-color:     #ccc!default;

$base-font-weight:  normal!default;
$bold-font-weight:  bold!default;

$lap-start:         481px!default;
$desk-start:        1024px!default;
$desk-wide-start:   1200px!default;

$palm-end:          $lap-start - 1px;
$lap-end:           $desk-start - 1px;

$giga-size:         96px!default;
$mega-size:         72px!default;
$kilo-size:         48px!default;

$h1-size:           36px!default; // .alpha
$h2-size:           30px!default; // .beta
$h3-size:           24px!default; // .gamma
$h4-size:           20px!default; // .delta
$h5-size:           16px!default; // .epsilon
$h6-size:           14px!default; // .zeta

$small-print-size:  14px!default;

$base-spacing-unit: $base-line-height!default;
$half-spacing-unit: $base-spacing-unit / 2!default;
$line-height-ratio: $base-line-height / $base-font-size;
