.page-content {
    @include vertical-gap(bottom);

    ul, ol {
        list-style-position: outside;
    }
}

.post-list {
    list-style: none;
    @include vertical-gap(bottom);

    > li {
        @include vertical-gap();

        > :last-child {
            margin-bottom: 0;
        }
    }
}

.meta-list {
    list-style: none;
    margin-bottom: 0;
    margin-left: 0;

    > li {
        display: inline-block;
        @include font-size(16px);

        + li {
            position: relative;

            &:before {
                /* content: &middot; */
                content: "\00B7";
                position: relative;
                margin-right: $base-spacing-unit/6;
                margin-left: $base-spacing-unit/6;
            }
        }
    }
}

.archive-list {

    .current-post a {
        color: #aaa;
    }
}

.block-note {
    position: relative;
    display: block;
    @include font-size(16px);
    @extend %vertical-rhythm;

    &:before {
        /* content: "/!\ "; */
        content: "\2F \21 \5C \A0";
        position: absolute;
        right: 100%;
        color: $base-ui-color;
        font-family: Consolas, Courier New, Courier, monospace;
        font-weight: bold;
    }
}

.quote__body {

    > :last-child {
        margin-bottom: 0;
    }
}

.quote__source {
    display: block;

    &:before {
        content: "\2014";
    }
}



/**
 * Responsive video/audio players
 *   - Use 16:9 for videos in general
 *   - Respect SoundCloud's fixed height to calculate ratio
 */
.iframe-wrapper {
    @extend %vertical-rhythm;
    position: relative;
    height: 0;

    &__video {
        padding-bottom: 56.25%; /* 16:9: 9/16 */
        padding-top: 25px;
    }

    &__soundcloud {
        padding-bottom: 26.77%; /* 166/620 */
    }

    > iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
