.page-content {
    @include vertical-gap(top);
    @include vertical-gap(bottom);

    ul, ol {
        list-style-position: outside;
    }
}

.post-list {
    list-style: none;
    @include vertical-gap(bottom);

    > li {
        @include vertical-gap();

        > :last-child {
            margin-bottom: 0;
        }
    }
}

.meta-list {
    list-style: none;
    margin-bottom: 0;
    margin-left: 0;

    > li {
        display: inline-block;
        @include font-size(16px);

        + li:before {
            /* content: space middot space */
            content: "\0020 \00B7 \0020";
        }
    }
}

.archive-list {

    .current-post a {
        color: #aaa;
    }
}

.block-note {
    position: relative;
    display: block;
    @include font-size(16px);

    &:before {
        /* content: "/!\ "; */
        content: "\2F \21 \5C \A0";
        position: absolute;
        right: 100%;
        color: $base-ui-color;
        font-family: Consolas, Courier New, Courier, monospace;
        font-weight: bold;
    }
}
