.site-logo {
    position: relative;
    display: block;
    float: left;
    margin-top: $half-spacing-unit;
    margin-left: $base-spacing-unit;

    > svg {
        width: 64px;
        height: 64px;
        float: left;
        transition: transform 0.2s;
    }

    &:hover > svg {
        transform: translateY(-30px);
        transition: transform 0.2s 0.3s;
    }
}

.site-logo--valentines {

    > svg,
    &:hover > svg {
        transform: none;
        transition: none;
    }

    .site-logo__icon {
        transform: rotate(0);
        transform-origin: 50% 50%;
        transition: all 0.3s;
    }

    &:hover .site-logo__icon {
        transform: rotate(-135deg);
        transition: all 0.7s 0.3s;
        fill: #b31809;
    }
}

.site-logo__icon {
    fill: $base-ui-color;
}

@include media-query(lap-and-up) {
    .site-logo {
        margin-left: $base-spacing-unit * 3;
    }
}
