.site-head {
    border-top: $border-width solid $base-ui-color;
    @extend %clearfix;
    @include vertical-gap();
}

.site-title {
    display: none;

    @include media-query(desk) {
        color: $text-color;
        line-height: 64px;
        margin-bottom: 0;
        margin-left: $base-spacing-unit / 2;
        float: left;
        display: block;

        > span {
            font-weight: 500;
        }
    }
}
