---
layout: default
title: kleinfreund.de
page-class: page--home
---
<div class=page-title>Hallo, wie geht's dir?</div>

<ul class="block-list wrapper">
    {% for post in paginator.posts %}
    <li>
        <span class=post__time>{{ post.date | date: "%-d. %B %Y" }}</span>
        <h2 class=post__title><a href="{{ post.url }}">{{ post.title }}</a></h2>
    </li>
    {% endfor %}
</ul>

<ol class="nav pagination wrapper">
    <li class=pagination__prev>
        {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
            <a href="/">Previous</a>
        {% else %}
            <a href="/page{{paginator.previous_page}}">Previous</a>
        {% endif %}
        {% else %}
            Previous
        {% endif %}
    </li><!--
 --><li class=pagination__next>
        {% if paginator.next_page %}
            <a href="/page{{paginator.next_page}}">Next</a>
        {% else %}
            Next
        {% endif %}
    </li>
</ol>