.grid {
    margin-left: -$half-spacing-unit;

    figure {
        margin-bottom: 0;
    }
}

    .grid__item {
        padding-bottom: $half-spacing-unit;
        padding-left: $half-spacing-unit;
    }

        .grid__link {
            color: $white-color !important;
        }

            .grid__caption {
                @include font-size(16px);
                padding: $base-spacing-unit / 4;
                color: $base-ui-color;
                font-weight: 300; 
            }