$colors: null; // private

$themes: (
    blog: (
        default: $blog-color,
        light: $blog-color-light
    ),
    portfolio: (
        default: $portfolio-color,
        light: $portfolio-color-light
    ),
    profil: (
        default: $profil-color,
        light: $profil-color-light
    ),
    impressum: (
        default: $impressum-color,
        light: $impressum-color-light
    )
);

@mixin themify {
    @each $theme, $color in $themes {
        .page--#{$theme} {
            $colors: $color !global;

            @content;
        }
    }
}

@function theme($variation) {
    @return map-get($colors, $variation);
}