/**
 * page-content
 */
.page-content {
    @include vertical-gap(top);
    @include vertical-gap(bottom);

    a:hover {
        border-bottom: 0.125em solid;
    }

    a,
    h1, h2, h3, h4, h5, h6 {
        .page--home & {
            color: $green-color;
        }

        .page--about & {
            color: $blue-color;
        }

        .page--portfolio & {
            color: $orange-color;
        }

        .page--impressum & {
            color: $red-color;
        }
    }
}

.entry {
    @include vertical-gap(bottom);
}

    .entry__meta {
        color: $light-ui-color;
    }