/**
 * sticky footer
 */
.page {
    display: -webkit-flex;
    display:         flex;
    -webkit-flex-direction: column;
            flex-direction: column;
    min-height: 100vh;
}

.page-content {
    -webkit-flex: 1;
            flex: 1;
}
 


/**
 * page-content
 */
.page-content {
    @extend %vertical-gap-bottom;

    a:hover {
        border-bottom: 0.125em solid;
    }

    .page-title {
        @extend %vertical-gap-bottom;
        padding: $half-spacing-unit;
        @include font-size($h2-size);
        color: $white-color;
        background-color: $dark-ui-color;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);

        @include media-query(lap-and-up) {
            padding: $half-spacing-unit $base-spacing-unit * 3;
        }
    }
}

.post {
    @extend %vertical-gap-bottom;
}

    .post__meta {
        color: $light-ui-color;
    }

    a,
    h1, h2, h3, h4, h5, h6 {
        .page--blog & {
            color: $blog-color;
        }

        .page--profil & {
            color: $profil-color;
        }

        .page--portfolio & {
            color: $portfolio-color;
        }

        .page--impressum & {
            color: $impressum-color;
        }
    }