.page-head {
    padding-left: $half-spacing-unit;
    background-color: $dark-ui-color;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);

    @include media-query(lap-and-up) {
        padding-left: $base-spacing-unit * 3;
    }

    .page-title {
        margin-bottom: 0;
        @include font-size($h2-size);
        color: $white-color;
    }
}

    @include themify {
        .page-head {
            background-color: theme(light);
        }
    }