.page-content {
    @extend %vertical-gap-top;
    @extend %vertical-gap-bottom;

    a:hover {
        border-bottom: 0.125em solid;
    }
}

    .post__time {
        color: $light-ui-color;
    }

    @include themify {
        a,
        h1, h2, h3, h4, h5, h6 {
            color: theme();
        }
    }
