.post-list {
    @extend .block-list;
    @include vertical-gap(bottom);

    &,
    > li {
        border: 0;
    }

    li {
        margin-bottom: $base-spacing-unit * 2;
        padding: 0;
    }
}

    .post-list__time,
    .post-list__title {
        font-weight: 300;
    }

    .post-list__time {
        display: block;
        color: $light-ui-color;
    }