.post-list {
    @extend .block-list;
    @extend %vertical-gap;

    &,
    > li {
        border: 0;
    }

    li {
        padding: 0;
    }
}

    .post-list__time,
    .post-list__title {
        font-weight: 300;
    }

    .post-list__time {
        display: block;
        color: $light-ui-color;
    }