.post-list {
    @extend .block-list;
    @extend %vertical-gap-bottom;

    &,
    > li {
        border: 0;
    }

    > li {
        padding-top: $base-spacing-unit * 2;
        padding-bottom: $base-spacing-unit * 2;
    }
}

    .post-list__time,
    .post-list__title {
        font-weight: 300;
    }

    .post-list__time {
        display: block;
        color: $light-ui-color;
    }

    .post {
        p:last-child {
            margin-bottom: 0;
        }
    }
