.site-foot {
    background-color: $base-ui-color;
    font-size: 16px;
    font-size: 0.8rem;
    line-height: 1.875;
    padding: $half-spacing-unit $base-spacing-unit;

    &,
    a {
        color: $white-color;
    }

    a {
        font-weight: 300;
        text-decoration: underline;
    }

    p:last-of-type {
        margin-bottom: 0;
    }
}