.site-head {
    background-color: $base-ui-color;
}

    .page-title {
        margin-bottom: 0;
        padding: $half-spacing-unit;
        @include font-size(30px);
        color: $white-color;
        background-color: $dark-ui-color;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);

        /*.page--home & {
            background-color: $green-color-light;
        }

        .page--about & {
            background-color: $blue-color-light;
        }

        .page--portfolio & {
            background-color: $orange-color-light;
        }

        .page--impressum & {
            background-color: $red-color-light;
        }*/

        @include media-query(lap-and-up) {
            padding: $half-spacing-unit $base-spacing-unit * 3;
        }
    }

    @include themify(page-title, background-color, true);