.site-foot {
    background-color: $base-ui-color;
    padding: $half-spacing-unit $base-spacing-unit;
    @include font-size(14px);

    &,
    a {
        color: $white;
    }

    a {
        font-weight: 300;
        text-decoration: underline;
    }

    p:last-of-type {
        margin-bottom: 0;
    }
}