.site-logo {
    display: none;
}

@include media-query(lap-and-up) {
    .site-logo {
        position: relative;
        display: block;
        float: left;
        margin-top: -$border-width;
        margin-left: $base-spacing-unit;

        > svg {
            width: 64px;
            height: 64px;
            float: left;
        }
    }

    .site-logo__icon {
        fill: $base-ui-color;
    }
}

@include media-query(desk) {
    .site-logo {
        margin-top: $half-spacing-unit;
        margin-left: $base-spacing-unit * 3;
    }
}
