.site-head {
    background-color: $base-ui-color;

    .lang-nav {
        display: block;
        position: absolute;
            top: $half-spacing-unit;
            right: $half-spacing-unit;
        padding-right: $half-spacing-unit;
        padding-left: $half-spacing-unit;
        color: $white;
        background-color: $dark-ui-color;
        text-align: center;
        font-weight: 300;

        @include media-query(palm) {
            position: static;
            width: auto;
        }
    }
}
