.site-nav {
    margin-bottom: 0;
    padding-right: $base-spacing-unit * 4;
    border-bottom: $border-width solid $dark-ui-color;
    text-align: right;

    @include media-query(palm) {
        padding-right: 0;
    }

    > li > a {
        margin-left: $half-spacing-unit;
        padding: $half-spacing-unit $base-spacing-unit;
        color: $white;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
        text-transform: lowercase;

        &:before {
            /* Adding `/` before links */
            content: "\002F";
        }

        @include media-query(palm) {
            display: block;
            margin-left: 0;
            padding-right: $base-spacing-unit / 2;
            padding-left: $base-spacing-unit / 2;
        }
    }
}

@include themify {
    .site-nav {
        border-color: theme();
    }
}

    .site-nav__item--blog {
        background-color: $blog-color;

        .page:not(.page--blog) &:hover {
            background-color: $blog-color-light;
        }
    }

    .site-nav__item--portfolio {
        background-color: $portfolio-color;

        .page:not(.page--portfolio) &:hover {
            background-color: $portfolio-color-light;
        }
    }

    .site-nav__item--profile {
        background-color: $profile-color;

        .page:not(.page--profile) &:hover {
            background-color: $profile-color-light;
        }
    }
