.site-head {
    background-color: $base-ui-color;
    border-bottom: 7px solid $dark-ui-color;

    &,
    a {
        color: $white-color;
    }
}

.site-head {
    .page--home & {
        border-color: $green-color;
    }

    .page--about & {
        border-color: $blue-color;
    }

    .page--portfolio & {
        border-color: $orange-color;
    }

    .page--impressum & {
        border-color: $red-color;
    }
}