.site-nav {
    margin-bottom: 0;
    padding-right: $base-spacing-unit * 3;
    border-bottom: 7px solid $dark-ui-color;
    text-align: right;

    @include media-query(palm) {
        padding-right: 0;
        display: -webkit-flex;
        display:         flex;
    }

    > li {
        margin-left: $half-spacing-unit;

        @include media-query(palm) {
            margin-left: 0;
            text-align: center;
            -webkit-flex: 1;
                    flex: 1;
        }

        > a {
            padding: $half-spacing-unit $base-spacing-unit;
            color: $white-color;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);

            @include media-query(palm) {
                display: block;
            }
        }
    }
}

@include themify {
    .site-nav {
        border-color: theme();
    }
}

    .site-nav__item--blog {
        background-color: $blog-color;

        .page:not(.page--blog) &:hover {
            background-color: $blog-color-light;
        }
    }

    .site-nav__item--portfolio {
        background-color: $portfolio-color;

        .page:not(.page--portfolio) &:hover {
            background-color: $portfolio-color-light;
        }
    }

    .site-nav__item--profil {
        background-color: $profil-color;

        .page:not(.page--profil) &:hover {
            background-color: $profil-color-light;
        }
    }

    .site-nav__item--impressum {
        background-color: $impressum-color;

        .page:not(.page--impressum) &:hover {
            background-color: $impressum-color-light;
        }
    }

    .page--404 .site-nav__item {
        background-color: $dark-ui-color;
    }

    .page--blog      .site-nav__item--blog,
    .page--portfolio .site-nav__item--portfolio,
    .page--profil    .site-nav__item--profil,
    .page--impressum .site-nav__item--impressum {
        cursor: default;
    }