html {
    font-family: Ubuntu, sans-serif;
    font-weight: 300;
    color: $foreground-color;
    background-color: $background-color;
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

dt {
    font-weight: 500;
}



/**
 * Lists
 */
@include media-query(palm) {
    ul, ol, dd {
        margin-left: $base-spacing-unit;
        margin-left: ($base-spacing-unit / $base-font-size)*1rem;
    }
}



/**
 * Base styles
 */
img {
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}



/**
 * Rulers
 */
hr {
    position: relative;
    border: 0;
    margin-bottom: 0;
    padding-top: $base-spacing-unit;
    padding-bottom: $base-spacing-unit * 2;
}

hr:after {
    content: "";
    color: #e6e6e6;
    border-bottom-width: 8px;
    border-bottom-style: solid;

    position: absolute;
    right: -$base-spacing-unit * 6;
    bottom: $base-spacing-unit * 1.5;
    left: -$base-spacing-unit * 6;

    @include media-query(portable) {
        right: 0;
        left: 0;
    }
}

%seperator {
    position: relative;

    &:not(:last-of-type):after {
        content: "";
        color: #e6e6e6;
        border-bottom-width: 8px;
        border-bottom-style: solid;

        position: absolute;
        right: -$base-spacing-unit * 6;
        bottom: 0;
        left: -$base-spacing-unit * 6;

        @include media-query(portable) {
            right: 0;
            left: 0;
        }
    }
}


/**
 * Inline elements
 */
strong, a {
    font-weight: 500;
}

q {
    font-style:italic;
}



/**
 * Links
 */
a {
    color: $foreground-color;
    text-decoration: none;
}



/**
 * Code
 */
pre, code, kbd, samp {
    font-family: Inconsolata, Monaco, Consolas, "Courier New", Courier, monospace;
}

pre {
    white-space: pre;
    word-wrap: normal;
    color: $white;
    background-color: $base-ui-color;
    padding: $base-spacing-unit / 4 $half-spacing-unit;
    border-radius: 3px;
}

pre {
    code, kbd, samp {
        color: $white;
        @include font-size(16px);
    }
}