html {
    font-family: Ubuntu, sans-serif;
    font-weight: 300;
    color: $foreground-color;
    background-color: $background-color;
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

dt {
    font-weight: 500;
}



/**
 * Base styles
 */
img {
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}



/**
 * Rules
 */
 hr {
    color: $light-ui-color;
    border: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin-bottom: $base-spacing-unit - 1px;
    margin-bottom: (($base-spacing-unit - 1px) / $base-font-size)*1rem;
 }



/**
 * Inline elements
 */
strong, a {
    font-weight: 500;
}

q {
    font-style:italic;
}



/**
 * Links
 */
a {
    color: $foreground-color;
    text-decoration: none;
}



/**
 * Code
 */
pre, code, kbd, samp {
    font-family: Inconsolata, Monaco, Consolas, "Courier New", Courier, monospace;
    @include font-size(16px);
}

pre {
    white-space: pre;
    word-wrap: normal;
    color: $white-color;
    background-color: $base-ui-color;
    padding: $base-spacing-unit / 4 $half-spacing-unit;
    border-radius: 3px;
}

code, kbd, samp {
    color: $blog-color;

    pre & {
        color: $white-color;
    }
}