/*
 * Applied dev-metal.com Google Chrome font rendering fix (Update, November 2013: Solution #1):
 * http://www.dev-metal.com/fix-ugly-font-rendering-google-chrome/
 */
@font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/ubuntu-light.eot');
    src: url('/fonts/ubuntu-light.eot?#iefix') format('embedded-opentype'),
         url('/fonts/ubuntu-light.woff') format('woff'),
         url('/fonts/ubuntu-light.ttf') format('truetype'),
         url('/fonts/ubuntu-light.svg#ubuntulight') format('svg');
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'Ubuntu';
            src: url('/fonts/ubuntu-light.svg#ubuntulight') format('svg');
    }
}

@font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/ubuntu-lightitalic.eot');
    src: url('/fonts/ubuntu-lightitalic.eot?#iefix') format('embedded-opentype'),
         url('/fonts/ubuntu-lightitalic.woff') format('woff'),
         url('/fonts/ubuntu-lightitalic.ttf') format('truetype'),
         url('/fonts/ubuntu-lightitalic.svg#ubuntulight_italic') format('svg');
    font-style: italic;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'Ubuntu';
            src: url('/fonts/ubuntu-lightitalic.svg#ubuntulight_italic') format('svg');
        font-style: italic;
    }
}

@font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/ubuntu-medium.eot');
    src: url('/fonts/ubuntu-medium.eot?#iefix') format('embedded-opentype'),
         url('/fonts/ubuntu-medium.woff') format('woff'),
         url('/fonts/ubuntu-medium.ttf') format('truetype'),
         url('/fonts/ubuntu-medium.svg#ubuntumedium') format('svg');
    font-weight: 500;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'Ubuntu';
            src: url('/fonts/ubuntu-medium.svg#ubuntumedium') format('svg');
        font-weight: 500;
    }
}