@media only screen and (max-width: 600px) {
  .year--prefix,
  .month--suffix {
    display: none;
  }

  .year--suffix::before {
    content: '’';
  }

  .month--prefix::after {
    content: '.';
  }
}
