*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
dd,
figure {
  margin: 0;
  padding: 0;
}

details,
summary,
main {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

table,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

hr {
  border: 0;
}
