/*------------------------------------*\
    #META-LIST
    List of meta information
\*------------------------------------*/
.meta-list {
    margin-left: 0;
    list-style: none;
    @extend %vertical-rhythm;

    > li {
        display: inline-block;
    }

    > li:not(:last-child) {
        margin-right: $base-spacing-unit / 4;
    }
}
