/*------------------------------------*\
    #POST-CARD
\*------------------------------------*/
.post-card {
    display: block;
    border-bottom: 0;
    background-color: #fff;

    .timestamp {
        display: block;
    }
}

.post-card :not(.post-card__title) {
    font-weight: $font-weight;
}

.post-card__meta {
    color: $c-text;
}

.post-card__title {
    // font-size: 24px;
    margin-bottom: 0;
}

.post-card__excerpt {
    color: $c-text;
}

.post-card:target {
    position: relative;

    &:before {
        content: "\1F516";
        position: absolute;
        right: $half-spacing-unit;
        top: $half-spacing-unit;
        font-size: 40px;
        line-height: 1;
        color: $c-text;
    }
}
