/*------------------------------------*\
    #POST-LIST
\*------------------------------------*/
.post-list {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

    list-style: none;
    margin-left: 0;
}

.post-list__item {
    width: 100%;
    margin-bottom: $base-spacing-unit;

    &:nth-child(3n+1),
    &:nth-child(3n+2) {
        margin-right: 2%;
    }

    @include media-query(desk) {
        width: 32%;
    }
}

.tag-list:not(:last-child) {
    @include vertical-gap(bottom);
}
