/*------------------------------------*\
    #TAG
\*------------------------------------*/
.tag {
    display: inline-block;
    padding-right: $base-spacing-unit / 4;
    padding-left: $base-spacing-unit / 4;
    font-size: $small-font-size;
    color: $c-ui;
    border-radius: 2px;
}

.tag::before {
    content: "#";
}

// Well, look at this little sucker. I actually needed to overqualify for once.
// That’s due to tags that may appear in link *and* non-link environments.
a.tag {
    border-bottom: 0;

    @include attention() {
        color: $c-ui--dark;
    }
}

// Again. O.o
h2 > .tag {
    font-size: 18px;
}


