/*------------------------------------*\
    #TAG
\*------------------------------------*/
.tag {
    display: inline-block;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    font-size: $small-font-size;
    background-color: $c-alt;
    color: #fff;
    border-radius: 2px;
}

// Well, look at this little sucker. I actually needed to overqualify for once.
// That’s due to tags that may appear in link *and* non-link environments.
a.tag {
    border-bottom: 0;

    @include attention() {
        color: #fff;
        background-color: $c-alt--dark;
    }
}

// Again. O.o
h2 > .tag {
    font-size: 18px;
}


