.island {
    display: inline-block;
    @extend %clearfix;
    padding: $base-spacing-unit / 2 $base-spacing-unit;
    color: #fff;
    background-color: $ui-color;
    border-radius: 2px;
    text-align: center;
    font-weight: $bold-font-weight;

    @include attention() {
        color: #fff;
        background-color: $ui-color-dark;
    }

    > :last-child {
        margin-bottom: 0;
    }
}
