/**
 * Page
 */
.wrapper {
    max-width: 100%;
    @extend %clearfix;
    margin-right: auto;
    margin-left: auto;

    @include media-query(lap-and-up) {
        max-width: $content-width;
    }

    @include media-query(desk) {
        max-width: $content-width + $sidebar-width;
    }
}

.page-title {
    padding-right: $half-spacing-unit;
    padding-left: $half-spacing-unit;

    @include media-query(desk) {
        padding: 0;
    }
}



/**
 * Page Content / Sidebar
 */
.page-content,
.sidebar {
    @include vertical-gap(bottom);
    padding-right: $half-spacing-unit;
    padding-left: $half-spacing-unit;

    @include media-query(desk) {
        float: left;
    }
}

.page-content {

    @include media-query(desk) {
        padding-left: 0;
        padding-right: $base-spacing-unit * 2;
        width: $content-width;
    }
}

.sidebar {

    @include media-query(desk) {
        padding: 0;
        width: $sidebar-width;
    }
}
