.page-content {
    @include vertical-gap(bottom);
}

.block-note {
    position: relative;
    display: block;
    @include font-size(16px);
    @extend %vertical-rhythm;

    &:before {
        /* content: "/!\ "; */
        content: "\2F \21 \5C \A0";
        position: absolute;
        right: 100%;
        color: $ui-color;
        font-family: $code-font-family;
        font-weight: $bold-font-weight;
    }
}



/**
 * Responsive video/audio players
 *   - Use 16:9 for videos in general
 *   - Respect SoundCloud’s fixed height to calculate ratio
 */
.iframe-wrapper {
    @extend %vertical-rhythm;

    &__video {
        @include aspect-ratio(16, 9);
    }

    &__soundcloud {
        @include aspect-ratio(620, 166);
    }
}
