.block-note {
    position: relative;
    display: block;
    padding-left: 2rem;

    @include media-query(lap-and-up) {
        padding-left: 0;
    }

    &:before {
        /* content: "/!\\ "; */
        content: "\2F \21 \5C \A0";
        position: absolute;
        // right: 100%;
        left: 0;
        color: $ui-color;
        font-weight: $bold-font-weight;
        letter-spacing: 2px;

        @include media-query(lap-and-up) {
            left: auto;
            right: 100%;
        }
    }
}



/**
 * Responsive video/audio players
 *   - Use 16:9 for videos in general
 *   - Respect SoundCloud’s fixed height to calculate ratio
 */
.iframe-wrapper {
    @extend %vertical-rhythm;

    &__video {
        @include aspect-ratio(16, 9);
    }

    &__soundcloud {
        @include aspect-ratio(620, 166);
    }
}
