.post-list {
    list-style: none;
    margin-left: 0;

    > li {
        border-bottom: 1px solid $gray-color-light;

        .timestamp {
            display: block;
        }

        &:first-child {
            border-top: 1px solid $gray-color-light;
        }

        > :last-child {
            margin-bottom: 0;
        }
    }
}

.post-list__link {
    display: block;
    padding: $base-spacing-unit / 2;
}

.post-title {
    @include font-size(20px);
    margin-right: 0.5rem;
}
