.site-foot {
    background-color: $gray-color-dark;
    padding: $half-spacing-unit $base-spacing-unit;
    @include font-size(14px);

    &,
    a {
        color: #fff;
    }

    a {
        text-decoration: underline;
    }

    p:last-of-type {
        margin-bottom: 0;
    }
}
