.site-foot {
    padding: $half-spacing-unit $base-spacing-unit;
    background-color: $gray-color-dark;

    &,
    a {
        color: #fff;
    }

    a {
        font-weight: $bold-font-weight;

        @include attention() {
            text-decoration: underline;
        }
    }

    p:last-of-type {
        margin-bottom: 0;
    }
}
