.site-nav {
    float: right;
    margin-right: $base-spacing-unit;
    margin-top: $half-spacing-unit;

    > a {
        display: inline-block;
        padding: $half-spacing-unit $base-spacing-unit;
        font-weight: $bold-font-weight;
    }

    @include media-query(lap-and-up) {
        margin-right: $base-spacing-unit * 3;
    }
}
