.site-nav {
    float: right;
    margin-right: $base-spacing-unit;
    margin-top: $base-spacing-unit / 2;

    > a {
        display: inline-block;
        padding: $base-spacing-unit / 2 $base-spacing-unit;
        font-weight: $bold-font-weight;
    }

    @include media-query(desk) {
        margin-right: $base-spacing-unit * 3;
    }
}
