html {
    font: $base-font-weight #{($base-font-size/16px)*1em}/#{$line-height-ratio} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    overflow-y: scroll;
    min-height: 100%;
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {

    &,
    > a {
        font-weight: $bold-font-weight;
    }
}

h1 {
    @include font-size($h1-size);
}

h2 {
    @include font-size($h2-size);
}

h3 {
    @include font-size($h3-size);
}

h4 {
    @include font-size($h4-size);
}

h5 {
    @include font-size($h5-size);
}

h6 {
    @include font-size($h6-size);
}



/**
 * Lists
 */
li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}

dt {
    font-weight: $bold-font-weight;
}



/**
 * Quotations
 */
q {
    font-style: italic;
}

blockquote {
    border-left: $border-width / 2 solid $ui-color;
    margin-left: $half-spacing-unit;
    padding-left: $half-spacing-unit - $border-width / 2;
    font-style: italic;
}

.quote__body {

    > :first-child:before {
        content: "\201C";
    }

    > :last-child:after {
        content: "\201D";
    }

    > :last-child {
        margin-bottom: 0;
    }
}

[lang="de"]:root .quote__body {

    > :first-child:before {
        content: "\201E";
    }

    > :last-child:after {
        content: "\201C";
    }
}

.quote__source {
    display: block;
    font-style: normal;

    &:before {
        content: "\2014";
    }
}



/**
 * Inline elements
 */
strong {
    font-weight: $bold-font-weight;
}



/**
 * Links
 */
a {
    color: $ui-color;
    font-weight: $base-font-weight;
    text-decoration: none;

    @include attention() {
        color: $ui-color-dark;
    }
}



/**
 * Code
 */
pre, code, kbd, samp {
    font-family: $code-font-family;
}

code {
    white-space: nowrap;
}

pre {
    overflow: auto;
    white-space: pre;
    word-wrap: normal;
    color: #fff;
    background-color: $alt-color;
    padding: $base-spacing-unit / 4 $half-spacing-unit;
    border-radius: 3px;

    > code {
        @include font-size($small-font-size);
        color: #fff;
        white-space: pre;
    }
}
