@font-face {
    font-family: Fabrikat;
    src: url('/fonts/fabrikat-regular.woff2') format('woff2'),
         url('/fonts/fabrikat-regular.woff') format('woff'),
         url('/fonts/fabrikat-regular.ttf') format('truetype');
    font-style: normal;
    font-weight: $font-weight;
}

@font-face {
    font-family: Fabrikat;
    src: url('/fonts/fabrikat-italic.woff2') format('woff2'),
         url('/fonts/fabrikat-italic.woff') format('woff'),
         url('/fonts/fabrikat-italic.ttf') format('truetype');
    font-style: italic;
    font-weight: $font-weight;
}

@font-face {
    font-family: Fabrikat;
    src: url('/fonts/fabrikat-bold.woff2') format('woff2'),
         url('/fonts/fabrikat-bold.woff') format('woff'),
         url('/fonts/fabrikat-bold.ttf') format('truetype');
    font-style: normal;
    font-weight: $font-weight--bold;
}

@font-face {
    font-family: Fabrikat;
    src: url('/fonts/fabrikat-thin.woff2') format('woff2'),
         url('/fonts/fabrikat-thin.woff') format('woff'),
         url('/fonts/fabrikat-thin.ttf') format('truetype');
    font-style: normal;
    font-weight: $font-weight--thin;
}

html {
    min-height: 100%;
    overflow-y: scroll;
    font: $font-weight #{($base-font-size/16px)*1em}/#{$line-height-ratio} $font-family--fallback;
    color: $c-text;
    background-color: $c-background;
}

html.fonts-loaded {
    font-family: $font-family;
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: $font-weight--bold;
}

h1 {
    font-weight: 100;
    @include font-size($h1-size);
}

h2 {
    @include font-size($h2-size);
}

h3 {
    @include font-size($h3-size);
}

h4 {
    @include font-size($h4-size);
}

h5 {
    @include font-size($h5-size);
}

h6 {
    @include font-size($h6-size);
}



/**
 * Lists
 */
dl, ol, ul {
    margin-left: 2rem;
}

li {

    > ul,
    > ol {
         margin-bottom: 0;
    }
}

dt {
    font-weight: $font-weight--bold;
}



/**
 * Quotations
 */
blockquote, q {
    font-style: italic;
}



/**
 * Inline elements
 */
b,
strong {
    font-weight: $font-weight--bold;
}



/**
 * Links
 */
a {
    color: $c-ui;
    text-decoration: none;
    border-bottom: 2px solid;

    @include attention() {
        color: $c-ui--dark;
    }
}



/**
 * Code
 */
pre,
code,
kbd,
samp {
    font-family: $code-font-family;
}

code {
    white-space: nowrap;
}
