html {
    min-height: 100%;
    overflow-y: scroll;
    font: $font-weight--regular #{($base-font-size/16px)*1em}/#{$line-height-ratio} $font-family;
    color: $c-text;
    background-color: $c-background;
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: $font-weight--bold;
}

h1 {
    @include font-size($h1-size);
}

h2 {
    @include font-size($h2-size);
}

h3 {
    @include font-size($h3-size);
}

h4 {
    @include font-size($h4-size);
}

h5 {
    @include font-size($h5-size);
}

h6 {
    @include font-size($h6-size);
}



/**
 * Lists
 */
dl, ol, ul {
    margin-left: 2rem;
}

li {

    > ul,
    > ol {
         margin-bottom: 0;
    }
}

dt {
    font-weight: $font-weight--bold;
}



/**
 * Quotations
 */
blockquote, q {
    font-style: italic;
}



/**
 * Inline elements
 */
b,
strong {
    font-weight: $font-weight--bold;
}



/**
 * Links
 */
a {
    color: $c-ui;
    font-weight: $font-weight--bold;
    text-decoration: none;
    border-bottom: 0.125em solid;

    @include attention() {
        color: $c-ui--dark;
    }
}



/**
 * Code
 */
pre,
code,
kbd,
samp {
    font-family: $code-font-family;
}

code {
    white-space: nowrap;
}
