html {
    min-height: 100%;
    overflow-y: scroll;
    font: $base-font-weight #{($base-font-size/16px)*1em}/#{$line-height-ratio} $base-font-family;
    color: $text-color;
    background-color: $background-color;
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: $bold-font-weight;
}

h1 {
    @include font-size($h1-size);
}

h2 {
    @include font-size($h2-size);
}

h3 {
    @include font-size($h3-size);
}

h4 {
    @include font-size($h4-size);
}

h5 {
    @include font-size($h5-size);
}

h6 {
    @include font-size($h6-size);
}



/**
 * Lists
 */
dl, ol, ul {
    margin-left: 2rem;
}

li {

    > ul,
    > ol {
         margin-bottom: 0;
    }
}

dt {
    font-weight: $bold-font-weight;
}



/**
 * Quotations
 */
blockquote, q {
    font-style: italic;
}



/**
 * Inline elements
 */
b,
strong {
    font-weight: $bold-font-weight;
}



/**
 * Links
 */
a {
    color: $ui-color;
    text-decoration: none;

    @include attention() {
        color: $ui-color-dark;
    }
}



/**
 * Code
 */
pre,
code,
kbd,
samp {
    font-family: $code-font-family;
}

code {
    white-space: nowrap;
}

pre {
    padding: $base-spacing-unit / 4 $half-spacing-unit;
    background-color: $gray-color-dark;
    border-radius: 3px;
    color: #fff;

    > code {
        @include font-size($small-font-size);
        white-space: pre;
    }

    li > & {
        margin-top: $base-spacing-unit;
    }
}
