/**
 * Typography
 */
$font-family: Ubuntu, Helvetica, sans-serif;
$font-weight--regular: 300;
$font-weight--bold: 500;



/**
 * Colors
 */
$c-text: #444;
$c-background: #fafcfe;

$c-gray: #7e7e6f;
$c-gray--dark: darken($c-gray, 30%);
$c-grey: $c-gray;
$c-grey--dark: $c-gray--dark;

$c-ui: #007d99;
$c-ui--dark: darken($c-ui, 15%);

$c-alt: #ffa724;
$c-alt--dark: darken($c-alt, 15%);



/**
 * Misc
 */
$content-width: 800px;
$blog-width: 960px;
$blog-width-wide: 1440px;

$border-width: 8px;
