/**
 * Typography
 */
$font-family: Fabrikat, Helvetica, sans-serif;
$font-family--fallback: Helvetica, sans-serif;
$font-weight: normal;
$font-weight--bold: bold;
$font-weight--thin: 100;

$base-font-size: 30px!default;
$base-line-height: 45px!default;

$giga-size: 120px!default;
$mega-size: 96px!default;
$kilo-size: 72px!default;

$h1-size: 60px!default;
$h2-size: 54px!default;
$h3-size: 46px!default;
$h4-size: 36px!default;
$h5-size: 34px!default;
$h6-size: 30px!default;

$small-font-size: 24px!default;



/**
 * Colors
 */
$c-text: #111;
$c-background: #fff;

$c-gray: #7e7e6f;
$c-gray--dark: darken($c-gray, 30%);
$c-grey: $c-gray;
$c-grey--dark: $c-gray--dark;

$c-ui: #c14444;
$c-ui--dark: darken($c-ui, 15%);

$c-alt: #C15F44;
$c-alt--dark: darken($c-alt, 15%);



/**
 * Misc
 */
$content-width: 960px;
$blog-width: 960px;

$border-width: 8px;
