/**
 * Typography
 */
$base-font-family: Ubuntu, Helvetica, sans-serif;
$base-font-weight: 300;
$bold-font-weight: 500;



/**
 * Colors
 */
$text-color: #444;
$background-color: #fff;

$gray-color: #8f8f80;
$gray-color-light: lighten($gray-color, 30%);
$gray-color-dark: darken($gray-color, 30%);

$ui-color: #5e85d6;
$ui-color-light: lighten($ui-color, 15%);
$ui-color-dark: darken($ui-color, 30%);



/**
 * Misc
 */
$content-width: 680px;
$sidebar-width: 280px;

$border-width: 8px;
