---
layout: _includes/layouts/base.liquid
---
<a href="/">â† Home</a>

<article class="post">
  {% include '_includes/partials/timestamp.liquid', date: page.date %}

  <h1>{{ title }}</h1>

  {{ layoutContent }}
</article>
