.post:not(:last-child) {
  margin-bottom: calc(4 * var(--spacing));
}

@media only screen and (min-width: 1000px) {
  .post {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
  }
}

@supports (display: grid) {
  @media only screen and (min-width: 1000px) {
    .post {
      max-width: 1000px;
      display: grid;
      align-items: start;
      grid-template-columns: [full-start main-start] 3fr [main-end side-start] 1fr [side-end
        full-end];
    }

    .post > * {
      grid-column: main;
    }

    .post > figure,
    .post > blockquote,
    .post > .embedded-media,
    .grow-to-full {
      grid-column: full;
    }

    .post > h2,
    .post > h3,
    .post > h4,
    .post > h5,
    .post > h6,
    .post > pre {
      grid-column: main-start / full-end;
    }

    /* Make sure, the side note can take its column */
    .post > .has-side-note {
      grid-column-end: main-end;
    }

    /* Additional, related content (i.e. a side note or boxout) */
    .post > .side-note {
      grid-column: side;
    }
  }

  @media only screen and (min-width: 1400px) {
    .post {
      max-width: 1400px;
      grid-template-columns: [full-start] 1fr [main-start] 3fr [main-end side-start] 1fr [side-end
        full-end];
    }
  }
}
