.post__header {
  display: flex;
  flex-direction: column-reverse;
}

.post__content h1,
.post__content h2,
.post__content h3,
.post__content h4,
.post__content h5,
.post__content h6 {
  margin-top: calc(2 * var(--f-size) * var(--f-line-height));
}

.post:not(:last-child) {
  margin-bottom: calc(4 * var(--spacing));
}
