/*
* QUOTES
*/

:lang(de) blockquote,
:lang(de) q {
  quotes: '„' '“' '‚' '‘';
}

blockquote {
  position: relative;
  padding: 1.5em;
}

blockquote::before {
  position: absolute;
  left: 0;
  font-size: 3.5em;
  line-height: 1;
}

:lang(en) blockquote::before {
  content: '“';
  top: 0.125em;
}

:lang(de) blockquote::before {
  content: '„';
  bottom: 0.75em;
}

blockquote > p:last-of-type {
  margin-bottom: 0;
}

blockquote cite::before {
  content: '\2014';
}
