/*
* CODE / USER INPUT
*/

pre,
code,
kbd,
samp,
var {
  font-family: 'Fira Code', 'Fira Mono', 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo,
    Courier, monospace;
}

pre {
  padding: 1vw 1.5vw;
  overflow-x: auto;
  background-color: var(--c-theme-dark);
  border-radius: 1vw;
}

kbd {
  padding: 0.1em 0.3em;
  border: 0.1em solid;
  border-radius: 0.2em;
  text-transform: capitalize;
  white-space: nowrap;
}
