/*
* LINKS
*/

:focus {
  outline: 2px solid var(--c-focus);
}

a {
  text-decoration: none;
  color: inherit;
  border-bottom: 0.15em solid var(--c-interactive);
  padding-bottom: 0.1em;
}

/*
1: Improve visibility for focused links
*/
a:hover,
a:active {
  outline: none; /* 1 */
  background-color: var(--c-interactive);
  transition: background-color 0.2s ease-out;
}

/*
1: Draw the bottom border a bit wider by adding a small padding.
2: Remove the superfluous visual space to maintain an even word spacing.
*/
p a {
  padding-right: 0.15em; /* 1 */
  padding-left: 0.15em; /* 1 */
  margin-right: -0.15em; /* 2 */
  margin-left: -0.15em; /* 2 */
}

/*
Make sure paragraph content is not occluded by hover styles.
*/
/* p {
  position: relative;
  z-index: 1;
}

p a:hover {
  position: relative;
  z-index: -1;
} */
