{{ $paginationClass := "pagination" }}
{{ $paginationItemClass := "pagination__item" }}

{{ if gt .Paginator.TotalPages 1 }}
<nav class="{{ $paginationClass }}">

  {{ if .Paginator.HasPrev }}
    <a class="{{ $paginationItemClass }}" href="{{ .Paginator.Prev.URL }}">Newer Articles</a>
  {{ else }}
    <span class="{{ $paginationItemClass }}">Newer Articles</span>
  {{ end }}

  {{ if .Paginator.HasNext }}
    <a class="{{ $paginationItemClass }}" href="{{ .Paginator.Next.URL }}">Older Articles</a>
  {{ else }}
    <span class="{{ $paginationItemClass }}">Older Articles</span>
  {{ end }}

</nav>
{{ end }}
