.embedded-media {
  --width: 16;
  --height: 9;
  position: relative;
  margin-block-start: var(--f-vertical-spacing);
}

.embedded-media::before {
  content: '';
  display: block;
  width: 100%;
  padding-top: calc(var(--height) / var(--width) * 100%);
}

.embedded-media > iframe {
  inline-size: 100%;
  block-size: 100%;
  position: absolute;
  inset: 0;
}

iframe[src^='https://bandcamp.com/EmbeddedPlayer'] {
  display: block;
  max-inline-size: 700px;
}
