.js-disabled .color-scheme-toggle {
  display: none;
}

.color-scheme-toggle {
  padding: 0.25em 0.75em;
  color: var(--cd-text);
  background-color: var(--cd-background);
}

@media (prefers-color-scheme: dark) {
  :root:not([data-color-scheme]) .color-scheme-toggle {
    color: var(--cl-text);
    background-color: var(--cl-background);
  }
}

:root[data-color-scheme="dark"] .color-scheme-toggle {
  color: var(--cl-text);
  background-color: var(--cl-background);
}

.color-scheme-toggle--enable-light,
.color-scheme-toggle--enable-dark {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root:not([data-color-scheme]) .color-scheme-toggle--enable-light {
    display: none;
  }

  :root:not([data-color-scheme]) .color-scheme-toggle--enable-dark {
    display: initial;
  }
}

@media (prefers-color-scheme: dark) {
  :root:not([data-color-scheme]) .color-scheme-toggle--enable-dark {
    display: none;
  }

  :root:not([data-color-scheme]) .color-scheme-toggle--enable-light {
    display: initial;
  }
}

:root[data-color-scheme="light"] .color-scheme-toggle--enable-dark {
  display: initial;
}

:root[data-color-scheme="dark"] .color-scheme-toggle--enable-light {
  display: initial;
}
