.note {
  --note-glyph: '';

  position: relative;
  font-size: 0.9em;
}

.note:not(.marginalia) {
  padding: 0.5em 1em;
  background-color: var(--c-note-background);
}

.note--info {
  /* 💡 https://www.fileformat.info/info/unicode/char/1f4a1/index.htm */
  --note-glyph: '\1f4a1';
}

.note--warning {
  /* ⚠ https://www.fileformat.info/info/unicode/char/26a0/index.htm */
  --note-glyph: '\26a0';
}

.note::before {
  content: var(--note-glyph) '\a0';
}

.note code {
  color: currentColor;
}
