:where(html.js-disabled) .color-scheme-toggle {
  display: none !important;
}

.color-scheme-toggle {
  display: block;
  margin-bottom: 1.5rem;
  padding: 0.25em 1em;
  border: 0.15em solid transparent;
  border-radius: 2px;
  font-size: 0.8em;
}

/* Apply the color scheme colors in reverse so that the toggle looks like the color scheme it's *going to* activate. */
:where(html:not([data-color-scheme])) .color-scheme-toggle {
  color: light-dark(var(--cd-text), var(--cl-text));
  background-color: light-dark(var(--cd-background), var(--cl-background));
}

:where(html[data-color-scheme="light"]) .color-scheme-toggle {
  color: var(--cd-text);
  background-color: var(--cd-background);
}

:where(html[data-color-scheme="dark"]) .color-scheme-toggle {
  color: var(--cl-text);
  background-color: var(--cl-background);
}

@media screen and (min-width: 1000px) {
  .color-scheme-toggle {
    position: absolute;
    top: 3rem;
    right: 3rem;
  }
}

:where(html[data-color-scheme="light"]) .color-scheme-toggle--enable-light {
  display: none;
}

:where(html[data-color-scheme="dark"]) .color-scheme-toggle--enable-dark {
  display: none;
}
