.site-head {
  padding: 3vw;
}

@media (max-width: 999px) {
  .site-head > *:not(:first-child) {
    margin-top: 0.5em;
  }
}

@media (min-width: 1000px) {
  .site-head {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
  }
}
