.js-disabled .color-scheme-toggle {
  display: none;
}

.color-scheme-toggle {
  display: block;
  margin-bottom: 1.5rem;
  padding: 0.25em 1em;
  border: 0.15em solid transparent;
  border-radius: 2px;
  font-size: 0.8em;
  color: var(--cd-text);
  background-color: var(--cd-background);
}

@media screen and (min-width: 1000px) {
  .color-scheme-toggle {
    position: absolute;
    top: 3rem;
    right: 3rem;
  }
}

@media (prefers-color-scheme: dark) {
  body:not([data-color-scheme]) .color-scheme-toggle {
    color: var(--cl-text);
    background-color: var(--cl-background);
  }
}

body[data-color-scheme="dark"] .color-scheme-toggle {
  color: var(--cl-text);
  background-color: var(--cl-background);
}

.color-scheme-toggle--enable-light,
.color-scheme-toggle--enable-dark {
  display: none;
}

@media (prefers-color-scheme: light) {
  body:not([data-color-scheme]) .color-scheme-toggle--enable-light {
    display: none;
  }

  body:not([data-color-scheme]) .color-scheme-toggle--enable-dark {
    display: initial;
  }
}

@media (prefers-color-scheme: dark) {
  body:not([data-color-scheme]) .color-scheme-toggle--enable-dark {
    display: none;
  }

  body:not([data-color-scheme]) .color-scheme-toggle--enable-light {
    display: initial;
  }
}

body[data-color-scheme="light"] .color-scheme-toggle--enable-dark {
  display: initial;
}

body[data-color-scheme="dark"] .color-scheme-toggle--enable-light {
  display: initial;
}
