.site-header {
  margin-bottom: calc(3 * var(--spacing));
  padding: var(--spacing);
}

@media only screen and (min-width: 1000px) {
  .site-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .site-title {
    margin-bottom: 0;
  }
}
