/*
* CODE / USER INPUT
*/

pre,
code,
kbd,
samp,
var {
  font-family: var(--f-family-code);
}

code {
  color: var(--c-code-text);
}

pre code {
  color: var(--c-code-block-text);
  background-color: var(--c-code-block-background);
}

pre {
  padding: 0.5em 1em;
  overflow-x: auto;
  background-color: var(--c-code-block-background);
  border-radius: 0.5em;
}

kbd {
  padding: 0.1em 0.3em;
  border: 0.1em solid;
  border-radius: 0.2em;
  text-transform: capitalize;
  white-space: nowrap;
}
