/*
* LINKS
*/

:focus {
  outline: 2px solid var(--c-focus);
}

a {
  color: var(--c-interactive);
}

/*
1: Improve visibility for focused links
*/
a:hover,
a:active {
  outline: none; /* 1 */
  color: var(--c-interactive-dark);
}
