body {
  overflow-y: scroll;
  font-size: var(--f-size);
  line-height: var(--f-line-height);
  font-family: var(--f-family);
  color: var(--c-text);
  background-color: var(--c-background);
}

/*
* VERTICAL RHYTHM
*/

/*
1: Set `margin-bottom` to maintain vertical rhythm.
*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
table,
figure {
  margin-bottom: var(--f-vertical-spacing); /* 1 */
}

li > pre {
  margin-top: var(--f-vertical-spacing);
}

/*
* HEADINGS
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  font-family: var(--f-family-headings);
}

:not(h1) + h2,
:not(h2) + h3 {
  margin-top: calc(2 * var(--f-vertical-spacing));
}

:not(h3) + h4,
:not(h4) + h5,
:not(h5) + h6 {
  margin-top: var(--f-vertical-spacing);
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.3em;
}

h5 {
  font-size: 1.15em;
}

h6 {
  font-size: 1em;
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2.4em;
  }

  h3 {
    font-size: 1.75em;
  }

  h4 {
    font-size: 1.4em;
  }

  h5 {
    font-size: 1.2em;
  }

  h6 {
    font-size: 1em;
  }
}

/*
* GENERIC INLINE ELEMENTS
*/

b,
strong {
  font-weight: bold;
}

abbr[title] {
  text-decoration: none;
  border-bottom: 0.1em dotted;
}

/*
* IMAGES
*/

/*
1: Style alt text.
*/
img {
  max-width: 100%;
  border: 0;
  font-style: italic; /* 1 */
}

img,
svg {
  vertical-align: middle;
}

figure > img {
  display: block;
}

figure > :first-child {
  margin-bottom: 0;
}

figcaption {
  font-size: 0.85em;
  padding: 0.75rem 1.5rem;
}

/*
* TABLES
*/

thead tr {
  border-bottom: 2px solid var(--c-interactive);
}

tbody tr:not(:last-child) {
  border-bottom: 2px dotted var(--c-interactive);
}

th,
td {
  padding: 0.2em 0.4em;
}

th {
  font-weight: bold;
}

/*
* RULERS
*/

hr {
  width: 100%;
  margin-top: 0;
  margin-bottom: var(--f-vertical-spacing);
  color: inherit;
  border-bottom: 0.1em solid;
}

/*
* LISTS
*/

@media screen and (max-width: 499.98px) {
  ul,
  ol,
  dl {
    padding-left: 1.5rem;
  }
}

@media screen and (min-width: 500px) {
  ul,
  ol,
  dl {
    padding-left: 3rem;
  }
}

li > p,
li > ul,
li > ol {
  margin-bottom: 0;
}

li:first-child > p:not(:first-child),
li:not(:first-child) > p,
li:not(:first-child) li > p {
  margin-top: calc(var(--f-vertical-spacing) / 2);
}
