/*
* LINKS
*/

:focus {
  outline: 0.15em dotted var(--c-focus);
  outline-offset: 0.1em;
}

a {
  color: var(--c-interactive);
}

a:hover {
  color: var(--c-interactive-dark);
}

/*
1: Improve visibility for focused links
*/
a:hover,
a:active {
  outline: none; /* 1 */
}
