html {
  /* Primitive color properties for light color scheme */
  --cl-text: hsl(227 100% 20%);
  --cl-background: #fff;

  --cl-focus: hsl(340 100% 45%);
  --cl-interactive: hsl(225 100% 52.5%);
  --cl-interactive-dark: hsl(225 100% 35%);

  --cl-code-text: hsl(0 100% 40%);
  --cl-code-background: hsl(0 100% 95%);
  --cl-code-block-text: hsl(340 100% 5%);
  --cl-code-block-background: var(--cl-code-background);

  --cl-note-background: hsl(300 100% 97%);

  /* Primitive color properties for dark color scheme */
  --cd-text: hsl(219 79% 95%);
  --cd-background: hsl(227 100% 10%);

  --cd-focus: hsl(340 100% 45%);
  --cd-interactive: hsl(154.8 100% 60.5%);
  --cd-interactive-dark: hsl(154.8 100% 75%);

  --cd-code-text: hsl(45 100% 55%);
  --cd-code-background: hsl(130 95% 7.5%);
  --cd-code-block-text: var(--cd-code-text);
  --cd-code-block-background: hsl(227 100% 15%);

  --cd-note-background: hsl(219 79% 20%);
}

/* Color properties for system setting color scheme */
html:where(:not([data-color-scheme])) {
  --c-text: light-dark(var(--cl-text), var(--cd-text));
  --c-background: light-dark(var(--cl-background), var(--cd-background));
  --c-focus: light-dark(var(--cl-focus), var(--cd-focus));
  --c-interactive: light-dark(var(--cl-interactive), var(--cd-interactive));
  --c-interactive-dark: light-dark(var(--cl-interactive-dark), var(--cd-interactive-dark));
  --c-code-background: light-dark(var(--cl-code-background), var(--cd-code-background));
  --c-code-text: light-dark(var(--cl-code-text), var(--cd-code-text));
  --c-code-block-text: light-dark(var(--cl-code-block-text), var(--cd-code-block-text));
  --c-code-block-background: light-dark(var(--cl-code-block-background), var(--cd-code-block-background));
  --c-note-background: light-dark(var(--cl-note-background), var(--cd-note-background));
}

/* Color properties for light theme */
html:where([data-color-scheme="light"]) {
  --c-text: var(--cl-text);
  --c-background: var(--cl-background);
  --c-focus: var(--cl-focus);
  --c-interactive: var(--cl-interactive);
  --c-interactive-dark: var(--cl-interactive-dark);
  --c-code-background: var(--cl-code-background);
  --c-code-text: var(--cl-code-text);
  --c-code-block-text: var(--cl-code-block-text);
  --c-code-block-background: var(--cl-code-block-background);
  --c-note-background: var(--cl-note-background);
}

/* Color properties for dark theme */
html:where([data-color-scheme="dark"]) {
  --c-text: var(--cd-text);
  --c-background: var(--cd-background);
  --c-focus: var(--cd-focus);
  --c-interactive: var(--cd-interactive);
  --c-interactive-dark: var(--cd-interactive-dark);
  --c-code-background: var(--cd-code-background);
  --c-code-text: var(--cd-code-text);
  --c-code-block-text: var(--cd-code-block-text);
  --c-code-block-background: var(--cd-code-block-background);
  --c-note-background: var(--cd-note-background);
}
