/*
Fluid Typography

as seen on CSS Tricks: https://css-tricks.com/snippets/css/fluid-typography

The formula in [2] does not limit its growth to a minimum or maximum font size.
This is done manually via media queries and fixed values in [1] and [3].

1: Minimum font size
2: Increasing font size relative to the current viewport width
3: Maximum font size
*/
:root {
  --f-family: 'Fira Mono', 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  --f-family-code: var(--f-family);
  --f-family-quote: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  --f-size: 1.125rem; /* 1 */
  --f-line-height: 1.5;
  --f-vertical-spacing: calc(var(--f-size) * var(--f-line-height));
}

@media screen and (min-width: 300px) {
  :root {
    --f-size: calc(1.125rem + (1.5 - 1.125) * ((100vw - 300px) / (1000 - 300))); /* 2 */
  }
}

@media screen and (min-width: 1000px) {
  :root {
    --f-size: 1.5rem; /* 3 */
  }
}
