:root {
  /*
  Light mode colors
  */
  --cl-text: hsl(227, 100%, 20%);
  --cl-background: #fff;

  --cl-focus: hsl(204, 100%, 46%);
  --cl-interactive: hsl(280, 75%, 40%);
  --cl-interactive-dark: hsl(280, 75%, 25%);

  --cl-code-text: hsl(0, 100%, 40%);
  --cl-code-block-text: #fff;
  --cl-code-block-background: hsl(236, 20%, 15%);

  --cl-note-background: hsl(300, 100%, 97%);

  /*
  Dark mode colors
  */
  --cd-text: hsl(219, 79%, 95%);
  --cd-background: hsl(227, 100%, 15%);

  --cd-focus: hsl(340, 100%, 45%);
  --cd-interactive: hsl(45, 100%, 55%);
  --cd-interactive-dark: hsl(45, 100%, 70%);

  --cd-code-text: hsl(219, 79%, 75%);
  --cd-code-block-text: #fff;
  --cd-code-block-background: hsl(227, 100%, 10%);

  --cd-note-background: hsl(219, 79%, 20%);
}

/* Set default theme to light theme */
body:not([data-color-scheme]),
body[data-color-scheme="light"] {
  --c-text: var(--cl-text);
  --c-background: var(--cl-background);
  --c-focus: var(--cl-focus);
  --c-interactive: var(--cl-interactive);
  --c-interactive-dark: var(--cl-interactive-dark);
  --c-code-text: var(--cl-code-text);
  --c-code-block-text: var(--cl-code-block-text);
  --c-code-block-background: var(--cl-code-block-background);
  --c-note-background: var(--cl-note-background);
}

/* Override default theme with dark theme */
@media (prefers-color-scheme: dark) {
  body:not([data-color-scheme]) {
    --c-text: var(--cd-text);
    --c-background: var(--cd-background);
    --c-focus: var(--cd-focus);
    --c-interactive: var(--cd-interactive);
    --c-interactive-dark: var(--cd-interactive-dark);
    --c-code-text: var(--cd-code-text);
    --c-code-block-text: var(--cd-code-block-text);
    --c-code-block-background: var(--cd-code-block-background);
    --c-note-background: var(--cd-note-background);
  }
}

body[data-color-scheme="dark"] {
  --c-text: var(--cd-text);
  --c-background: var(--cd-background);
  --c-focus: var(--cd-focus);
  --c-interactive: var(--cd-interactive);
  --c-interactive-dark: var(--cd-interactive-dark);
  --c-code-text: var(--cd-code-text);
  --c-code-block-text: var(--cd-code-block-text);
  --c-code-block-background: var(--cd-code-block-background);
  --c-note-background: var(--cd-note-background);
}
