---
layout: default
class: page--blog
exclusive-styles:
- "sass/blog.scss"
---
{% assign next-post-index = site.max_posts | plus:1 %}
<div class="post-list">
    {% for post in site.posts %}

        <a
            {% if forloop.index == next-post-index %}id="next-post"{% endif %}
            class="post-list__item  post-card"
            href="{% if post.off-site-url %}{{ post.off-site-url }}{% else %}{{ post.url }}{% endif %}"
        >
            <ul class="post-card__meta  meta-list">
                {% if post.date %}
                    <li>{% include date.html date=post.date %}</li>
                {% endif %}

                {% for tag in post.tags %}
                    <li><span class="tag">{{ tag }}</span></li>
                {% endfor %}

                {% if post.off-site-url %}
                    <li>{% include off-site-tag.html off-site-url=post.off-site-url %}</li>
                {% endif %}
            </ul>

            <h2 class="post-card__title">{{ post.title }}</h2>

            {% if post.excerpt %}
                <div class="post-card__excerpt">{{ post.excerpt | strip_html | truncate: 160, '…' }}</div>
            {% endif %}
        </a>
    {% endfor %}
</div>
