---
layout: page
---
{% assign sorted_categories = site.categories | sort %}

{% for category in sorted_categories %}
    {% assign posts = category[1] | where: "lang", page.lang %}

    {% if posts.size > 0 %}
        <h2 id="{{ category[0] }}">{{ category[0] }}</h2>
        <ul class="post-list">
            {% for post in posts %}
                <li>
                    {% include _tag-list-entry.html %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% assign posts = nil %}
{% endfor %}
