<!DOCTYPE html>
<html lang=de class="page {{ page.page-class }}">
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width, initial-scale=1.0">

    <title>{{ page.title }} &ndash; Website von Philipp Rudloff</title>

    <link rel=stylesheet href="/css/kleinfreund.min.css">
    <link rel="shortcut icon" href="/icon.png">

    <meta name=description content="Mondbasis von Philipp Rudloff. Mache Webentwicklung und -design. Dinge und Sachen auch.">

    <!--[if lt IE 9]>
        <script src="/js/html5shiv.js"></script>
    <![endif]-->
</head>
<body>
    <header class=site-head role=banner>
        <a href="/" class=site-logo>
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="kleinfreund">
        </a>
        <nav class=site-nav role=navigation>
            <a href="/" class="site-nav__item site-nav__item--green" rel=home>Blog</a><!--
         --><a href="/portfolio" class="site-nav__item site-nav__item--orange">Portfolio</a><!--
         --><a href="/profil" class="site-nav__item site-nav__item--blue">Profil</a><!--
         --><a href="/impressum" class="site-nav__item site-nav__item--red">Impressum</a>
        </nav>
    </header>

    <main role=main>
        {{ content }}
    </main>

    <footer class=site-foot role=contentinfo>
        <p>Eine Seite von <a href="http://twitter.com/kleinfreund">Philipp Rudloff</a>. Gehostet auf <a href="http://github.com/kleinfreund/kleinfreund.github.io">GitHub</a>. Erstellt mit <a href="http://inuitcss.com">inuitcss</a>.</p>
    </footer>
</body>
</html>