---
layout: default
---
{% assign page-lang = site.data.locales[page.lang] %}

<h1 class="page-title">
    {% if page.off-site-url %}
        <a href="{{ page.off-site-url }}">{{ page.title }}</a>
    {% else %}
        {{ page.title }}
    {% endif %}
</h1>

<main class="page-content">
    <article class="post">
        <footer class="post-meta">
            <ul class="meta-list">
                {% if page.date %}
                    <li>{% include date.html date=page.date lang=page.lang %}</li>
                {% endif %}

                {% for tag in page.tags %}
                    <li><a class="tag" href="{{ page-lang.tags.url }}#{{ tag }}">{{ tag }}</a></li>
                {% endfor %}

                {% if page.off-site-url %}
                    <li>{% include off-site-tag.html off-site-url=page.off-site-url %}</li>
                {% endif %}
            </ul>
        </footer>

        {{ content }}
    </article>
</main>
