---
layout: default
---
{% assign page-lang = site.data.locales[page.lang] %}

<h1 class="page-title">
    {% if page.off-site-url %}
        <a href="{{ page.off-site-url }}">{{ page.title }}</a>
    {% else %}
        {{ page.title }}
    {% endif %}
</h1>

<main class="page-content">
    <article class="post">
        <header class="post-head">
            {% include date.html date=page.date lang=page.lang %}

            {% for tag in page.tags %}
                <a class="tag" href="{{ page-lang.tags.url }}#{{ tag }}">{{ tag }}</a>
             {% endfor %}

            {% include off-site-tag.html off-site-url=page.off-site-url %}
        </header>

        {{ content }}
    </article>
</main>
