---
layout: default
class: page--blog
exclusive-styles:
- "sass/blog.scss"
---
{% assign sorted_tags = site.tags | sort %}

{% for tag in sorted_tags %}
    {% assign tagged_posts = tag[1] %}

    {% if tagged_posts.size > 0 %}
        <section id="{{ tag[0] }}" class="tag-list">
            <h2><a class="tag" href="/tags/{{ tag[0] | prepend: "#" }}">
                {{ tag[0] | prepend: "#" }}
            </a></h2>
            <div class="post-list">
                {% for post in tagged_posts %}
                    <a class="post-list__item  post-card" href="{% if post.off-site-url %}{{ post.off-site-url }}{% else %}{{ post.url }}{% endif %}">
                        <ul class="post-card__meta  meta-list">
                            {% if post.date %}
                                <li>{% include date.html date=post.date %}</li>
                            {% endif %}

                            {% if post.off-site-url %}
                                <li>{% include off-site-tag.html off-site-url=post.off-site-url %}</li>
                            {% endif %}
                        </ul>

                        <h2 class="post-card__title">{{ post.title }}</h2>

                        {% if post.excerpt %}
                            <div class="post-card__excerpt">{{ post.excerpt | strip_html | truncate: 160, '…' }}</div>
                        {% endif %}
                    </a>
                {% endfor %}
            </div>

            <a href="#" class="island  island--small">#</a>
        </section>
    {% endif %}

    {% assign tagged_posts = nil %}
{% endfor %}
