---
layout: page
---
{% assign sorted_tags = site.tags | sort %}

{% for tag in sorted_tags %}
    {% assign posts = tag[1] | where: "lang", page.lang %}

    {% if posts.size > 0 %}
        <h2 class="tag" id="{{ tag[0] }}">{{ tag[0] | prepend: "#" }}</h2>
        <ul class="post-list">
            {% for post in posts %}
                <li>
                    <a class="post-list__link" href="{% if post.off-site-url %}{{ post.off-site-url }}{% else %}{{ post.url }}{% endif %}">
                        {% include date.html date=post.date lang=post.lang %}

                        <span class="post-title">{{ post.title }}</span>

                        {% include off-site-tag.html off-site-url=post.off-site-url %}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% assign posts = nil %}
{% endfor %}
