# Add Link header for webmentions

<IfModule mod_headers.c>
  Header add Link <https://webmention.io/kleinfreund.de/webmention>;rel=webmention
</IfModule>


# Keep Alive

<IfModule mod_headers.c>
  Header set Connection keep-alive
</IfModule>


# Error 404

ErrorDocument 404 /404/index.html


# Disable the pattern matching based on filenames.

Options +MultiViews


# Serve resources with the proper media types (f.k.a. MIME types).

<IfModule mod_mime.c>

  AddType application/atom+xml                        atom
  AddType application/json                            json
  AddType application/javascript                      js
  AddType application/manifest+json                   webmanifest
  AddType application/xml                             rdf xml
  AddType image/svg+xml                               svg
  AddType application/font-woff2                      woff2

</IfModule>


# Serve all resources labeled as `text/html` or `text/plain` with the media type `charset` parameter set to `UTF-8`.

AddDefaultCharset utf-8

# Serve the following file types with the media type `charset` parameter set to `UTF-8`.

<IfModule mod_mime.c>
  AddCharset utf-8 .css \
                    .js \
                    .json \
                    .webmanifest
</IfModule>


# (1) Turn on the rewrite engine (this is necessary in order for the `RewriteRule` directives to work).
#
# (2) If your web host doesn't allow the `FollowSymlinks` option, you need to comment it out or remove it, and then uncomment the `Options +SymLinksIfOwnerMatch` line (4), but be aware of the performance impact.
#
# (3) Some cloud hosting services will require you set `RewriteBase`.

<IfModule mod_rewrite.c>
  # (1)
  RewriteEngine On

  # (2)
  Options +SymLinksIfOwnerMatch

  # (3)
  RewriteBase /
</IfModule>


# Block access to directories without a default document.

<IfModule mod_autoindex.c>
  Options -Indexes
</IfModule>

# Block access to all hidden files and directories with the exception of the visible content from within the `/.well-known/` hidden directory.

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{REQUEST_URI} "!(^|/)\.well-known/([^./]+./?)+$" [NC]
  RewriteCond %{SCRIPT_FILENAME} -d [OR]
  RewriteCond %{SCRIPT_FILENAME} -f
  RewriteRule "(^|/)\." - [F]
</IfModule>


# Block access to files that can expose sensitive information.

<FilesMatch "(^#.*#|\.(bak|conf|dist|fla|in[ci]|log|psd|sh|sql|sw[op])|~)$">

  # Apache < 2.3
  <IfModule !mod_authz_core.c>
    Order allow,deny
    Deny from all
    Satisfy All
  </IfModule>

  # Apache ≥ 2.3
  <IfModule mod_authz_core.c>
    Require all denied
  </IfModule>

</FilesMatch>

# Prevent Apache from adding a trailing footer line containing information about the server to the server-generated documents (e.g.: error messages, directory listings, etc.).

ServerSignature Off

<IfModule mod_deflate.c>

  # Force compression for mangled `Accept-Encoding` request headers

  <IfModule mod_setenvif.c>
    <IfModule mod_headers.c>
      SetEnvIfNoCase ^(Accept-EncodXng|X-cept-Encoding|X{15}|~{15}|-{15})$ ^((gzip|deflate)\s*,?\s*)+|[X~-]{4,13}$ HAVE_Accept-Encoding
      RequestHeader append Accept-Encoding "gzip,deflate" env=HAVE_Accept-Encoding
    </IfModule>
  </IfModule>

  # Compress all output labeled with one of the following media types.

  <IfModule mod_filter.c>
    AddOutputFilterByType DEFLATE "application/javascript" \
                                "application/x-javascript" \
                                "application/json" \
                                "application/manifest+json" \
                                "image/svg+xml" \
                                "text/css" \
                                "text/html" \
                                "text/javascript" \
                                "text/plain"
  </IfModule>

</IfModule>


# Remove `ETags` as resources are sent with far-future expires headers.

<IfModule mod_headers.c>
    Header unset ETag
</IfModule>

FileETag None


# Serve resources with far-future expires headers.

<IfModule mod_expires.c>

  ExpiresActive on
  ExpiresDefault                                      "access plus 1 month"
  ExpiresByType text/css                              "access plus 1 year"
  ExpiresByType application/json                      "access plus 0 seconds"
  ExpiresByType application/xml                       "access plus 0 seconds"
  ExpiresByType image/x-icon                          "access plus 1 week"
  ExpiresByType text/html                             "access plus 0 seconds"
  ExpiresByType application/javascript                "access plus 1 year"
  ExpiresByType text/javascript                       "access plus 1 year"
  ExpiresByType application/manifest+json             "access plus 1 week"
  ExpiresByType image/jpeg                            "access plus 1 month"
  ExpiresByType image/png                             "access plus 1 month"
  ExpiresByType image/svg+xml                         "access plus 1 month"

</IfModule>
