---
title: Articles
description: "Articles I’ve written over the span of the last half or so decade."
layout: layouts/page.liquid
pagination:
  data: collections.posts
  size: 5
  reverse: true
---
<ul class="post-list">
  {%- for post in pagination.items -%}
  <li>
    <article class="post">
      {% render '_includes/partials/timestamp.liquid', date: post.data.date %}

      <h2><a href="{{ post.url | url }}">{{ post.data.title }}</a></h2>

      {% excerpt post %}
    </article>
  </li>
  {%- endfor -%}
</ul>

{% if pagination.pageLinks.length > 1 %}
<nav class="pagination" role="navigation" aria-label="Pagination navigation">
  {% if pagination.previousPageLink %}
    <a href="{{ pagination.previousPageHref | url }}">Newer articles</a>
  {% else %}
    <span>Newer articles</span>
  {% endif %}

  {% if pagination.nextPageLink %}
    <a href="{{ pagination.nextPageHref | url }}">Older articles</a>
  {% else %}
    <span>Older articles</span>
  {% endif %}
</nav>
{% endif %}
