/*------------------------------------*\
    #PAGE
    General page layout
\*------------------------------------*/
/**
 * Page
 */
.wrapper {
    max-width: 100%;
    @extend %clearfix;
    margin-right: auto;
    margin-left: auto;

    @include media-query(desk) {
        max-width: $content-width;
    }
}

.page--blog .wrapper {

    @include media-query(desk) {
        max-width: $blog-width;
    }

    @include media-query(desk-wide) {
        max-width: $blog-width-wide;
    }
}

.page-title {
    padding-right: $half-spacing-unit;
    padding-left: $half-spacing-unit;

    @include media-query(desk) {
        padding: 0;
    }
}



/**
 * Page Content
 */
.page-content {
    @include vertical-gap(bottom);
    padding-right: $half-spacing-unit;
    padding-left: $half-spacing-unit;

    @include media-query(desk) {
        padding-left: 0;
        padding-right: 0;
    }
}
