.site-foot {
    padding: $base-spacing-unit;
    background-color: $c-gray--dark;

    @include media-query(desk) {
        padding: 2 * $base-spacing-unit;
    }

    &,
    a {
        color: #fff;
    }

    a {
        font-weight: $font-weight--bold;
        border-bottom: 0;

        @include attention() {
            border-bottom: 0.125em solid;
        }
    }

    > p {
        margin-bottom: $half-spacing-unit;
    }

    > :last-child {
        margin-bottom: 0;
    }
}
