/*------------------------------------*\
    #SITE-HEAD
    Site-wide header area
\*------------------------------------*/
.site-head {
    margin-top: 3rem;
    padding-right: $half-spacing-unit;
    padding-left: $half-spacing-unit;

    @include media-query(desk) {
        padding: 0;
    }
}



/**
 * Site logo
 */
.site-logo {
    display: inline-block;
    vertical-align: middle;
    border-bottom: 0;

    &__eye {
        fill: #fff;
    }

    > svg {
        float: left;
        fill: $c-ui;
        -webkit-transform: none;
        transform: none;
        -webkit-transition: all 0.7s;
        transition: all 0.7s;
    }

    &:hover,
    &:focus {

        > svg {
            -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
            -webkit-transition: all 0.7s 0.3s;
            transition: all 0.7s 0.3s;
        }

        .site-logo__face,
        .site-logo__eye {
            -webkit-transition: all 0.7s 0.3s;
            transition: all 0.7s 0.3s;
        }
    }
}



/**
 * Site-wide navigation
 */
.site-nav {
    display: inline-block;
    vertical-align: middle;

    > a {
        display: inline-block;
        padding: $half-spacing-unit $base-spacing-unit;
        font-weight: $font-weight--bold;
        border-bottom: 0;
    }
}
