.site-foot {
    padding: $half-spacing-unit $base-spacing-unit;
    background-color: $c-gray--dark;

    &,
    a {
        color: #fff;
    }

    a {
        font-weight: $font-weight--bold;
        border-bottom: 0;

        @include attention() {
        border-bottom: 0.125em solid;
        }
    }

    > p {
        margin-bottom: $half-spacing-unit;
    }

    > :last-child {
        margin-bottom: 0;
    }
}
