{% render '_includes/partials/text.liquid', text: list.text, has_items: list.items.length > 0 %}

{% if list.items.length > 0 %}
  <ul>
    {% for item in list.items %}
      <li>
        {% if list.itemsStyle == 'ranked' %}
          {% assign rank = forloop.length | minus: forloop.i %}
          {{ rank }}.
        {% endif %}

        {{ item.creators | map: 'value' | join: '/' }}:

        {% for title in item.titles %}{% if not forloop.first %}, {% endif %}{% if forloop.length > 1 and forloop.last %}and {% endif %}{% render '_includes/partials/text.liquid', text: title %}{% endfor %}
      </li>
    {% endfor %}
  </ul>
{% endif %}

{% if list.lists.length > 0 %}
  <ul>
    {% for nested_list in list.lists %}
      <li>
        {% render '_includes/partials/list.liquid', list: nested_list %}
      </li>
    {% endfor %}
  </ul>
{% endif %}
